<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/estiloheader.css">
    <link rel="stylesheet" href="../css/estilobody.css">
    <link rel="stylesheet" href="../css/estilofooter.css">
</head>
<body>
    
    
    <br>
    <header>
        <h1>CM News</h1>
    </header>
    <main>
        <section class="paginas">
            <article>
                <img src="../public/img/carro1.jpg">
                <p>Os carros mais vendidos do Brasil em maio de 2024</p>
                <a href="/noticiaUm">Leia mais.</a>
            </article>

            <article>
                <img src="../public/img/carro2.webp" >
                <p>Autonomia de carro elétrico não é confiável!</p>
                <a href="/noticiaDois">Leia mais.</a>
            </article>

            <article>
                <img src="../public/img/carro3.webp">
                <p>Cresce 357% a procura por carros elétricos novos abaixo de R$ 300 mil.</p>
                <a href="/noticiaTres">Leia Mais.</a>
            </article>

            <article>
                <img src="../public/img/carro4.webp">
                <p>Descubra o NOVO Carro da Audi: Luxo e Alta Performance!</p>
                <a href="/noticiaQuatro">Leia Mais.</a>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 CM News</p>
    </footer>
</body>
</html>