<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVOS - Lady Gaga</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <header>
        <h1>Autonomia de carro elétrico não é confiável!</h1>
        <section>
            <ul>
                <li><a href="/html">Voltar</a></li>
            </ul>
        </section>
    </header>

    <div class="container">
        <div class="main-content">
            <section id="hist">
                <p class="autor">Por Boris Feldman Publicado em 03/06/2024 às 07h03</p>
                <h2>Diversos fatores contribuem para que o alcance com uma carga de bateria possa variar em relação ao declarado pelas fábricas</h2>
                <p>Primeiro, porque existem vários padrões diferentes usados por montadoras. A fábrica pode declarar 400 km, mas está num padrão diferente do brasileiro, onde ele poderia ser de apenas 300 km.
                 <br>
                 Segundo, porque a capacidade da bateria varia demais com a temperatura, principalmente quando ela está muito baixa ou muito alta. Isso influi diretamente na autonomia.
                <br>
                Em terceiro, a autonomia é medida e informada pela fabricante é com o carro rodando numa estrada em torno de 90 km/h e sem muita subida. 
                <br>
                Quarto, ligou o ar condicionado? Pode tirar 10% do alcance. 
                <br>
                Quinto, tem pé de chumbo no acelerador? Manda o alcance para o espaço. Além do mais, você não é doido de rodar até esgotar a bateria, não é? Lembre sempre de deixar uns 10 a 15% da bateria de reserva.
                </p>
                     <img src="../public/img/carroEle.png">
            </section>
        </div>
            <aside class="sidebar">
                <h2>Veja também:</h2>
                <h3>Os carros mais vendidos do Brasil em maio de 2024</h3>
                <a href="/noticiaUm">
                    <img src="../public/img/carro1.jpg">
                </a>
                <h3>Cresce 357% a procura por carros elétricos novos abaixo de R$ 300 mil.</h3>
                <a href="/noticiaTres">
                    <img src="../public/img/carro3.webp">
                </a>
                <h3>Descubra o NOVO Carro da Audi: Luxo e Alta Performance!</h3>
                <a href="/noticiaQuatro"></a>
                    <img src="../public/img/carro4.webp">
                </a>
            </aside>
    </div>

    <footer>
        <p>&copy; 2024 CM NEWS</p>
    </footer>
</body>
</html>