<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVOS</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header>
        <h1>Os carros mais vendidos do Brasil em maio de 2024</h1>
        <section>
            <ul>
                <li><a href="/html">Voltar</a></li>
            </ul>
        </section>
    </header>

    <div class="container">
        <div class="main-content">
            <section id="hist">
                <p class="autor">Gabriel Sérvio // 01/06/2024 12h59 </p>
                <h2>Entre os modelos mais vendidos, o Volkswagen Polo perdeu a liderança para a Fiat Strada</h2>
                <p>
                    No mês de maio, o mercado automotivo nacional vendeu pouco mais de 161 mil automóveis e comerciais
                    leves vendidos, bem abaixo dos quase 208 mil emplacamentos registrados em abril.
                    <br>
                <h2>Confira abaixo como ficou o ranking de modelos e marcas que mais venderam:</h2>

                <h3>Carros mais vendidos em maio:</h3>
                
                <table>
                    <thead>
                        <tr>
                            <th>Posição</th>
                            <th>Modelo</th>
                            <th>Vendas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Fiat Strada</td>
                            <td>9.974</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>VW Polo</td>
                            <td>7.794</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>GM Onix</td>
                            <td>6.932</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Hyundai HB20</td>
                            <td>6.189</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>VW T-Cross</td>
                            <td>5.720</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Fiat Mobi</td>
                            <td>5.509</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Nissan Kicks</td>
                            <td>5.361</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Hyundai Creta</td>
                            <td>5.072</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Fiat Argo</td>
                            <td>4.995</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>GM Onix Plus</td>
                            <td>4.845</td>
                        </tr>
                    </tbody>
                </table>

                Mês de maio encerrou com queda nas vendas de veículos no Brasil. Fonte: Fenabrave (dados computados até
                o dia 28 de maio).
                <img src="../public/img/carro1.jpg">
                <p class="pequeno">Fiat Strada. Imagem: Divulgação/Fiat</p>
            </div>

        <aside class="sidebar">
            <h2>Veja também:</h2>
            <h3>Autonomia de carro elétrico não é confiável! </h3>
            <a href="/noticiaDois">
                <img src="../public/img/carro2.webp">
            </a>
            <h3>Cresce 357% a procura por carros elétricos novos abaixo de R$ 300 mil.</h3>
            <a href="/noticiaTres">
                <img src="../public/img/carro3.webp">
            </a>
            <h3>Descubra o NOVO Carro da Audi: Luxo e Alta Performance!</h3>
            <a href="/noticiaQuatro">
                <img src="../public/img/carro4.webp"
                    alt="">
            </a>
        </aside>
    </div>

    <footer>
        <p>&copy; 2024 CM NEWS</p>
    </footer>
</body>

</html>