<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVOS - Adele</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <header>
        <h1>O Novo Carro da Audi RS 4 Avant Edition 25 Years</h1>
        <section>
            <ul>
                <li><a href="/html">Voltar</a></li>
            </ul>
        </section>
    </header>

    <div class="container">
        <div class="main-content">
            <section id="hist">
                <h2>Descubra o NOVO Carro da Audi RS 4 Avant Edition 25 Years: Luxo e Alta Performance!</h2>
                <p class="autor">Por BMCNEWS  01/06/2024                </p>
                <p>
                Quem é aficionado por carros esportivos de alto desempenho certamente se encantará com o lançamento mais recente da Audi. A celebrada RS 4 Avant chega à edição especial de 25 anos, trazendo inovações que prometem redefinir os padrões de estética e performance. Vamos explorar as especificações cativantes e os avanços intrigantes desta máquina fascinante.
                    <br>
                Com um design que mescla tradição e modernidade, a RS 4 Avant Edition 25 Years apresenta características que sobressaem tanto na pista quanto na estrada. Ela é mais que um carro: é um verdadeiro ícone de engenharia automobilística que oferece uma experiência única de condução.
                </p>
                     <img src="../public/img/carro4.webp">
            </section>
            <section id="carreira">
                <h2>Potência e Performance</h2>
                <p>
                    A nova versão da RS 4 Avant não é apenas um deleite para os olhos, mas também um colosso em termos de desempenho. Equipada com um motor V6 biturbo, ela atinge impressionantes 470 cv de potência. Esse aumento de 20 cv em relação ao modelo regular permite que o veículo acelere de 0 a 100 km/h em apenas 3,7 segundos. A velocidade máxima é de 300 km/h, complementada por um sistema de freio de cerâmica RS que promove uma frenagem mais eficaz.
                </p>
                <img src="../public/img/carro42.jpg">
                <h2>Quais são as características especiais da RS 4 Avant Edition 25 anos?</h2>
                <p>
                    Alguns aspectos da RS 4 Avant Edition 25 Years fazem dela um modelo único. Para começar, seu chassi recebeu ajustes específicos, como a suspensão esportiva RS pro, que é rebaixada em 20 milímetros em relação ao modelo regular. Além disso, a cambagem negativa no eixo dianteiro e os rolamentos de braço mais rígidos melhoram a aderência e o manuseio, aumentando a velocidade nas curvas e proporcionando um feedback mais preciso do desempenho dinâmico.
                </p>
                <h2>Estilo e Conforto</h2>
                <p>
                    Além da mecânica avançada, este veículo se destaca por seu design exclusivo. Internamente, a combinação de couro preto, costuras amarelas e detalhes em Alcantara ressalta luxo e conforto. Os assentos tipo concha são elegantes e oferecem suporte durante a condução dinâmica. Externamente, a RS 4 exibe uma pintura especial, com opções que incluem o amarelo imola, cinza Nardo e preto Mythos, além de detalhes distintivos como as lanternas e anéis Audi em preto brilhante.
                </p>
            </section>
        </div>

        <aside class="sidebar">
            <h2>Veja também:</h2>
            <h3>Os carros mais vendidos do Brasil em maio de 2024</h3>
            <a href="/noticiaUm">
                <img src="../public/img/carro1.jpg">
            </a>
            <h3>Autonomia de carro elétrico não é confiável! </h3>
            <a href="/noticiaDois">
                <img src="../public/img/carro2.webp">
            </a>
            <h3>Cresce 357% a procura por carros elétricos novos abaixo de R$ 300 mil.</h3>
            <a href="/noticiaTres">
                <img src="../public/img/carro3.webp">
            </a>
        </aside>
    </div>

    <footer>
        <p>&copy; 2024 CM NEWS</p>
    </footer>
</body>
</html>