<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVOS - Demi Lovato</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <header>
        <h1>Cresce 357% a procura por carros elétricos novos abaixo de R$ 300 mil</h1>
        <section>
            <ul>
                <li><a href="/html">Voltar</a></li>
            </ul>
        </section>
    </header>

    <div class="container">
        <div class="main-content">
            <section id="hist">
                <h2>De acordo com levantamento do Webmotors Autoinsights, também houve alta de 156% nas buscas por modelos usados</h2>
                <p class="autor">Por:
                    Redação Homework *
                    3 jun
                    2024
                    - 06h20</p>
                <p>Novo levantamento da Webmotors, ecossistema automotivo do Brasil e portal de negócios e soluções para o segmento, revela que as buscas por veículos elétricos zero quilômetro com preços abaixo de R$ 300 mil na plataforma cresceram 357% em abril deste ano ante o mesmo mês de 2023. 
                    <br>
                    Os dados do Webmotors Autoinsights também apontam um aumento de 156% na procura por carros elétricos usados, considerando essa mesma faixa de preço, nos últimos 12 meses.
                </p>
                     <img src="../public/img/carro3.webp">
            </section>
            <section id="carreira">
                <p>Já entre os modelos elétricos com valor acima de R$ 300 mil, o levantamento indica alta nas buscas, mas em proporções menores: as pesquisas por elétricos novos subiram 13% em um ano; entre os usados, a progressão foi de 4% em igual período. 
                    <br>
                    “Observamos, a partir do comportamento do nosso usuário, que o mercado de carros elétricos está se tornando cada vez mais popular no Brasil”, analisa a CMO da Webmotors, Natalia Spigai. 
                    <br>
                    “Lançamentos recentes de modelos com preços abaixo de R$ 300 mil, puxados principalmente por marcas como BYD e GWM, estão entre os zero quilômetro mais buscados hoje em nossa plataforma, demonstrando a crescente aceitação do segmento no cenário automotivo online no país.”
                    </p>
            </section>
        </div>

        <aside class="sidebar">
            <h2>Veja também:</h2>
            <h3>Os carros mais vendidos do Brasil em maio de 2024</h3>
            <a href="/noticiaUm">
                <img src="../public/img/carro1.jpg">
            </a>
            <h3>Autonomia de carro elétrico não é confiável! </h3>
            <a href="/noticiaDois">
                <img src="../public/img/carro2.webp">
            </a>
            <h3>Descubra o NOVO Carro da Audi: Luxo e Alta Performance!</h3>
            <a href="/noticiaQuatro"></a>
                <img src="../public/img/carro4.webp">
            </a>
        </aside>
    </div>

    <footer>
        <p>&copy; 2024 CM NEWS</p>
    </footer>
</body>
</html>