header {
    background-color:#333; 
    color: rgb(0, 0, 0);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1 {
    font-size: 36px;
    text-align: center;
    text-decoration: overline;
    font-style: bold;
    align-items: center;
}

@media (max-width:450px){
    header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
@media (max-width:650px){
  
    header{
        align-items: center;

    }
}

}